body{
	padding: 0px;
	margin: 0px;
	font-family: Helvetica Neue LT Pro !important;
}
@font-face {
	font-family: Helvetica Neue LT Pro;
	src: url(../font/HelveticaNeue);
}
.ctn-header{
	background-image: url(../images/header.jpg);
	height: 619px;
	margin: 0 auto;
	width: 100%; 
}
.logo{
	background-image: url(../images/logo.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 619px;
	width: 100%; 
}
.principal-nav{
	background: rgba(0, 105, 170, 0.8);
	height: 57px;
	width: 100%;
}
.ctn-nosotros{
	background-image: url(../images/nosotros.png);
	background-repeat: no-repeat;
	height: 854px;
	width: 100%; 
}
.ctn-gray-nosotros{
	background: rgba(0, 0, 0, 0.25); 
	height: 854px;
	width: 667px;
	margin-left: 45px;
}
.txt-nosotros{
	font-family:  Helvetica Neue LT Pro;
	color: white;
	margin: 0 auto; 
	text-align : justify;
	width: 510px
}
.ctn-confeccion{
	background-image: url(../images/confeccion.png);
	background-repeat: no-repeat;
	height: 726px;
	width: 100%; 
}
.ctn-articulos{
	background-image: url(../images/articulos.png);
	background-repeat: no-repeat;
	height: 792px;
	width: 100%; 
}
.ctn-dotacion{
	background-image: url(../images/dotacion.png);
	background-repeat: no-repeat;
	margin-top: -2px;
	height: 626px;
	width: 100%; 
}
.ctn-productStar{
	background-image: url(../images/productStar.png);
	background-repeat: no-repeat;
	height: 710px;
	width: 100%; 
}
.ctn-contacto{
	background-image: url(../images/contacto.png);
	background-repeat: no-repeat;
	height: 651px;
	width: 100%; 
}
.ctn-text-confeccion{
	color: white;
	font-family:  Helvetica Neue LT Pro;
	float: left;
	margin-left: 450px;
	margin-top: 12px;
	height: 190px;
	width: 500px;
}
.ctn-text-confeccion p{
	color: white;
}
.ctn-text-articulos{
	color: white;
	float: left;
	margin-left: 82px;
	margin-top: 491px;
	height: 100px;
	width: 790px;
}
.ctn-text-dotacion{
	color: white;
	float: left;
	margin-left: 700px;
	margin-top: 286px;	
	height: 100px;
	width: 510px;
}
.ctn-text-star{
	float: left;
	margin-left: 240px;
	margin-top: 196px;
	text-align : justify;
	height: 270px;
	width: 580px;
}